.w100 {
        width: 100px;
    }

    .w110{
        width: 110px;
    }

    .f-small{
        font-size:1em;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h4,
    h5,
    h6 {
        margin: 0;
    }


.xcs{left:500px;}
