.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.915039;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:24.000000px;}
.fs5{font-size:32.160000px;}
.fs3{font-size:36.000000px;}
.fs2{font-size:39.840000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:56.160000px;}
.y15{bottom:1.990600px;}
.ye{bottom:2.626300px;}
.yb{bottom:2.829800px;}
.y26{bottom:3.193200px;}
.y2c{bottom:3.193300px;}
.y8{bottom:3.262100px;}
.y2a{bottom:3.513200px;}
.y28{bottom:3.876500px;}
.y25{bottom:3.876600px;}
.y14{bottom:4.292200px;}
.y6{bottom:5.079200px;}
.y1a{bottom:5.373600px;}
.y23{bottom:8.349800px;}
.y4{bottom:10.599200px;}
.y2{bottom:12.052800px;}
.ya{bottom:15.185700px;}
.y10{bottom:29.964400px;}
.y1d{bottom:34.809800px;}
.y0{bottom:53.500000px;}
.y35{bottom:54.250000px;}
.y34{bottom:67.332700px;}
.y33{bottom:80.415500px;}
.y32{bottom:93.498300px;}
.y31{bottom:106.581000px;}
.y30{bottom:119.663800px;}
.y2f{bottom:132.746600px;}
.y2e{bottom:145.829300px;}
.y2d{bottom:158.912100px;}
.y2b{bottom:171.994800px;}
.y29{bottom:185.077600px;}
.y27{bottom:197.433600px;}
.y24{bottom:210.516300px;}
.y22{bottom:223.599100px;}
.y1c{bottom:277.383800px;}
.y21{bottom:292.647000px;}
.y20{bottom:307.910200px;}
.y1f{bottom:323.173400px;}
.y1e{bottom:338.436600px;}
.y1b{bottom:353.699800px;}
.y19{bottom:383.257200px;}
.y18{bottom:400.700800px;}
.y17{bottom:415.237200px;}
.y16{bottom:432.680900px;}
.y13{bottom:457.392700px;}
.y12{bottom:469.991000px;}
.y11{bottom:489.372800px;}
.yf{bottom:506.089600px;}
.yd{bottom:528.621000px;}
.yc{bottom:547.518400px;}
.y9{bottom:564.962000px;}
.y7{bottom:595.488400px;}
.y5{bottom:613.658900px;}
.y3{bottom:632.556200px;}
.y1{bottom:663.809500px;}
.h21{height:11.856000px;}
.h13{height:12.098300px;}
.h20{height:12.582700px;}
.h1e{height:12.582800px;}
.h18{height:14.036400px;}
.h1c{height:14.763200px;}
.h11{height:16.216800px;}
.hc{height:16.943600px;}
.h17{height:16.943700px;}
.h15{height:17.472656px;}
.h7{height:17.670500px;}
.h5{height:18.397300px;}
.he{height:18.397400px;}
.h12{height:18.881800px;}
.h19{height:18.881900px;}
.h14{height:21.515625px;}
.h16{height:24.211800px;}
.h9{height:24.211900px;}
.h1d{height:24.938700px;}
.h1f{height:28.830937px;}
.h1a{height:29.004609px;}
.hd{height:29.024063px;}
.h4{height:30.753300px;}
.hf{height:32.273438px;}
.h2{height:33.660500px;}
.h8{height:34.945312px;}
.ha{height:35.715938px;}
.h10{height:40.928800px;}
.hb{height:43.031250px;}
.h6{height:43.335938px;}
.h3{height:50.346562px;}
.h1b{height:75.816000px;}
.h1{height:637.500000px;}
.h0{height:751.720000px;}
.w6{width:62.631500px;}
.w7{width:62.631600px;}
.w9{width:125.763000px;}
.w8{width:125.763100px;}
.w4{width:161.959700px;}
.wb{width:188.894600px;}
.w3{width:224.111900px;}
.wf{width:252.026100px;}
.w2{width:297.914400px;}
.we{width:315.157600px;}
.wa{width:378.289100px;}
.wd{width:378.289200px;}
.wc{width:441.420700px;}
.w5{width:504.552200px;}
.w1{width:507.000000px;}
.w0{width:649.164900px;}
.x11{left:0.750000px;}
.x9{left:1.802200px;}
.x13{left:20.819000px;}
.xc{left:27.313800px;}
.x6{left:32.526100px;}
.x4{left:53.243400px;}
.x0{left:62.000000px;}
.x7{left:63.231200px;}
.x2{left:77.844300px;}
.x12{left:82.554200px;}
.x1{left:96.437200px;}
.xa{left:126.362700px;}
.x3{left:145.638900px;}
.x14{left:157.600300px;}
.x5{left:187.073700px;}
.xb{left:189.494300px;}
.x8{left:205.278100px;}
.xd{left:252.625800px;}
.xe{left:315.757300px;}
.xf{left:378.888800px;}
.x10{left:442.020400px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs4{font-size:32.000000pt;}
.fs5{font-size:42.880000pt;}
.fs3{font-size:48.000000pt;}
.fs2{font-size:53.120000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.880000pt;}
.y15{bottom:2.654133pt;}
.ye{bottom:3.501733pt;}
.yb{bottom:3.773067pt;}
.y26{bottom:4.257600pt;}
.y2c{bottom:4.257733pt;}
.y8{bottom:4.349467pt;}
.y2a{bottom:4.684267pt;}
.y28{bottom:5.168667pt;}
.y25{bottom:5.168800pt;}
.y14{bottom:5.722933pt;}
.y6{bottom:6.772267pt;}
.y1a{bottom:7.164800pt;}
.y23{bottom:11.133067pt;}
.y4{bottom:14.132267pt;}
.y2{bottom:16.070400pt;}
.ya{bottom:20.247600pt;}
.y10{bottom:39.952533pt;}
.y1d{bottom:46.413067pt;}
.y0{bottom:71.333333pt;}
.y35{bottom:72.333333pt;}
.y34{bottom:89.776933pt;}
.y33{bottom:107.220667pt;}
.y32{bottom:124.664400pt;}
.y31{bottom:142.108000pt;}
.y30{bottom:159.551733pt;}
.y2f{bottom:176.995467pt;}
.y2e{bottom:194.439067pt;}
.y2d{bottom:211.882800pt;}
.y2b{bottom:229.326400pt;}
.y29{bottom:246.770133pt;}
.y27{bottom:263.244800pt;}
.y24{bottom:280.688400pt;}
.y22{bottom:298.132133pt;}
.y1c{bottom:369.845067pt;}
.y21{bottom:390.196000pt;}
.y20{bottom:410.546933pt;}
.y1f{bottom:430.897867pt;}
.y1e{bottom:451.248800pt;}
.y1b{bottom:471.599733pt;}
.y19{bottom:511.009600pt;}
.y18{bottom:534.267733pt;}
.y17{bottom:553.649600pt;}
.y16{bottom:576.907867pt;}
.y13{bottom:609.856933pt;}
.y12{bottom:626.654667pt;}
.y11{bottom:652.497067pt;}
.yf{bottom:674.786133pt;}
.yd{bottom:704.828000pt;}
.yc{bottom:730.024533pt;}
.y9{bottom:753.282667pt;}
.y7{bottom:793.984533pt;}
.y5{bottom:818.211867pt;}
.y3{bottom:843.408267pt;}
.y1{bottom:885.079333pt;}
.h21{height:15.808000pt;}
.h13{height:16.131067pt;}
.h20{height:16.776933pt;}
.h1e{height:16.777067pt;}
.h18{height:18.715200pt;}
.h1c{height:19.684267pt;}
.h11{height:21.622400pt;}
.hc{height:22.591467pt;}
.h17{height:22.591600pt;}
.h15{height:23.296875pt;}
.h7{height:23.560667pt;}
.h5{height:24.529733pt;}
.he{height:24.529867pt;}
.h12{height:25.175733pt;}
.h19{height:25.175867pt;}
.h14{height:28.687500pt;}
.h16{height:32.282400pt;}
.h9{height:32.282533pt;}
.h1d{height:33.251600pt;}
.h1f{height:38.441250pt;}
.h1a{height:38.672812pt;}
.hd{height:38.698750pt;}
.h4{height:41.004400pt;}
.hf{height:43.031250pt;}
.h2{height:44.880667pt;}
.h8{height:46.593750pt;}
.ha{height:47.621250pt;}
.h10{height:54.571733pt;}
.hb{height:57.375000pt;}
.h6{height:57.781250pt;}
.h3{height:67.128750pt;}
.h1b{height:101.088000pt;}
.h1{height:850.000000pt;}
.h0{height:1002.293333pt;}
.w6{width:83.508667pt;}
.w7{width:83.508800pt;}
.w9{width:167.684000pt;}
.w8{width:167.684133pt;}
.w4{width:215.946267pt;}
.wb{width:251.859467pt;}
.w3{width:298.815867pt;}
.wf{width:336.034800pt;}
.w2{width:397.219200pt;}
.we{width:420.210133pt;}
.wa{width:504.385467pt;}
.wd{width:504.385600pt;}
.wc{width:588.560933pt;}
.w5{width:672.736267pt;}
.w1{width:676.000000pt;}
.w0{width:865.553200pt;}
.x11{left:1.000000pt;}
.x9{left:2.402933pt;}
.x13{left:27.758667pt;}
.xc{left:36.418400pt;}
.x6{left:43.368133pt;}
.x4{left:70.991200pt;}
.x0{left:82.666667pt;}
.x7{left:84.308267pt;}
.x2{left:103.792400pt;}
.x12{left:110.072267pt;}
.x1{left:128.582933pt;}
.xa{left:168.483600pt;}
.x3{left:194.185200pt;}
.x14{left:210.133733pt;}
.x5{left:249.431600pt;}
.xb{left:252.659067pt;}
.x8{left:273.704133pt;}
.xd{left:336.834400pt;}
.xe{left:421.009733pt;}
.xf{left:505.185067pt;}
.x10{left:589.360533pt;}
}
